[Unit]
Description=Update Kidproxy
After=network.target

[Service]
ExecStart=/bin/zsh %h/.local/share/kidproxy/bin/update.zsh
PrivateDevices=yes
Type=oneshot

[Install]
WantedBy=default.target
