[Unit]
Description=Tinyproxy Web Proxy Server
After=network.target

[Service]
WorkingDirectory=%h/.config/tinyproxy
ExecStart=/usr/bin/tinyproxy -d -c tinyproxy.conf
ExecReload=/usr/bin/kill -USR1 $MAINPID
PrivateDevices=yes

[Install]
WantedBy=default.target
